.App {
  text-align: center;
}
.truyen-div {
  text-align:justify;
  margin-top: 80px;
}
.chon-trang{
  width: 50px;
}
.truyen-div-dropdown {
  text-align:center;
}
.truyen-PDF {
  margin-top: 80px;
}
.document-container {
  background-color: inherit !important;
  width: inherit !important;
}
.react-pdf__Page__textContent {
  background-color: inherit !important;
  color: inherit !important;
}
.phim-may-tinh {
  margin-top: 60px;
}